[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
python-dotenv = "*"
httpx = "*"
pytest-asyncio = "*"
requests-mock = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest_httpx = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
starlette = "*"

[requires]
python_version = "3.10"
