[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
fastapi = "*"
fastapi-users = {extras = ["oauth", "sqlalchemy", "redis"], version = "*"}
httpx = "*"
install = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pip = "*"
psycopg2-binary = "*"
pydantic = {extras = ["email"], version = "*"}
pydantic-settings = "*"
python-dateutil = "*"
python-dotenv = "*"
requests-mock = "*"
sqlalchemy = "*"
tenacity = "*"
uvicorn = "*"
alembic = "*"
requests = "*"
types-requests = "*"
greenlet = "*"
emails = "*"
jinja2 = "*"

[dev-packages]
aiosqlite = "*"
black = "*"
faker = "*"
flake8 = "*"
install = "*"
isort = "*"
mypy = "*"
pip = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-faker = "*"
pytest-httpx = "*"
pytest-subprocess = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
starlette = "*"
types-passlib = "*"
sphinx-serve = "*"

[requires]
python_version = "3.10"
