aiosqlite==0.19.0
alabaster==0.7.13
alembic==1.12.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
asyncpg==0.29.0
Babel==2.13.1
bcrypt==4.0.1
black==23.10.1
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
coverage==7.3.2
cryptography==41.0.5
cssselect==1.2.0
cssutils==2.9.0
dnspython==2.4.2
docutils==0.18.1
email-validator==2.0.0.post2
emails==0.6
exceptiongroup==1.1.3
Faker==19.13.0
fastapi==0.104.1
fastapi-users==12.1.2
fastapi-users-db-sqlalchemy==6.0.1
flake8==6.1.0
greenlet==3.0.1
h11==0.14.0
httpcore==0.17.3
httpx
httpx-oauth
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
install==1.3.5
isort==5.12.0
Jinja2==3.1.2
lxml==4.9.3
makefun==1.15.2
Mako==1.3.0
MarkupSafe==2.1.3
mccabe==0.7.0
mypy==1.6.1
mypy-extensions==1.0.0
packaging==23.2
passlib==1.7.4
pathspec==0.11.2
platformdirs==3.11.0
pluggy==1.3.0
premailer==3.10.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.4.2
pydantic-settings==2.0.3
pydantic_core==2.10.1
pyflakes==3.1.0
Pygments==2.16.1
PyJWT==2.8.0
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-faker==2.0.0
pytest-httpx
pytest-subprocess==1.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
redis==5.0.1
requests==2.31.0
requests-mock==1.11.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-rtd-theme==1.3.0
sphinx-serve==1.0.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.23
starlette==0.27.0
tenacity==8.2.3
tomli==2.0.1
types-passlib==1.7.7.13
types-requests==2.31.0.10
typing_extensions==4.8.0
urllib3==2.1.0
uvicorn==0.24.0.post1
